@inherits LayoutComponentBase

<PageTitle>front</PageTitle>

<header>
    <div class="headercontainer">
    <h1> Tds12</h1>
    <a href="/login" style="color:white;"> logar</a>
</div>
</header>

<main>
    @Body
</main>
