 @page "/login"


 <p>
     <label> Nome completo</label>
     <input type="text"/> 
 </p>

 <p>
     <label> Nome Usuario</label>
     <input type="Password"/> 
 </p>
 <p>
     <label>Data de Nacimento </label>
     <input type="date"/> 
 </p>

 <p>
     <label> Nome Usuario</label>
     <input type="text"/> 
 </p>

 <button onclick="@Createcont">
     criar conta 
 </button>
@code 
{
    public void Createcont()
    {

    } 

}